table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  margin: 5px;
}

/* .mat-column-STATUS,
.mat-column-DENUMIRE,
.mat-column-DATA_CREARE,
.mat-column-UTILIZATOR_CREARE,
.mat-column-ACTIV {
  width: 100px;
} */
.mat-elevation-z8 {
  width: 80vw;
}

.mat-column-ACTION {
  text-align: center;
}

.mat-column-DATA_MODIFICARE{
    width: 150px;
}


th.mat-sort-header-sorted {
  color: white;
}

.add-btn {
  text-align: right;
}

.red {
  color: red;
}

.green {
  color: #AAFF00;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}