<mat-toolbar>
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span>Team & Player Manager</span>
  <span class="spacer"></span>
  <span *ngIf="currentUser.length">Welcome, {{ currentUser }}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button routerLink="/teams" routerLinkActive="active">
        <mat-icon>sports_basketball</mat-icon>
        <h3>Teams</h3>
    </button>
    <mat-divider></mat-divider>
    <button mat-button routerLink="/players" routerLinkActive="active">
        <mat-icon>sports_handball</mat-icon>
        <h3>Players</h3>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
